*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  min-height:100vh;
}

/* Glass effect */
.glass{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(12px);
  border-radius:20px;
}

/* Header */
header{
  text-align:center;
  padding:25px;
  margin:20px;
}

/* Hero */
.hero{
  text-align:center;
  padding:80px 20px;
}

.hero h2{
  font-size:42px;
  margin-bottom:15px;
}

.hero button{
  padding:14px 36px;
  border:none;
  border-radius:30px;
  background:#ff9800;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.hero button:hover{
  transform:scale(1.1);
  background:#ffb74d;
}

/* Sections */
section{
  margin:40px 10%;
  padding:40px;
}

/* Demo */
.demo{
  text-align:center;
}

.queue-box{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:30px 0;
}

.queue-item{
  background:#ff9800;
  color:black;
  padding:15px 22px;
  margin:8px;
  border-radius:12px;
  font-weight:bold;
  transition:0.3s;
}

.controls input{
  padding:10px;
  border-radius:10px;
  border:none;
  margin-right:10px;
  width:150px;
}

.controls button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  margin:5px;
  cursor:pointer;
  background:#ffffff;
  font-weight:bold;
}

/* Footer */
footer{
  text-align:center;
  padding:20px;
  background:#111;
  margin-top:40px;
}
